<div
  style='
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        align-items: center;
      '
>
  <h1>Xác nhận reset password</h1>
  <a href={{url}}><button>Chuyển hướng</button></a>
</div>